<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftTest6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C40F47A1F14CA88001FA481</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C40F48E1F14CA88001FA481</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C40F4991F14CA88001FA481</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
